.steps-timeline-container {
  width: 100%;
}

.steps-timeline-container .qa-grid-4cols-header,
.steps-timeline-container .qa-grid-4cols-row {
  text-align: left;
}

.steps-timeline-container .qa-col-text,
.steps-timeline-container .qa-col-text-sm,
.steps-timeline-container .qa-col-timestamp,
.steps-timeline-container .qa-step-info {
  text-align: left;
}

.steps-timeline-container .qa-col-pill {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
